img{
	height: 10%;
	width: 10%;
	
}

.main {
  margin: 50px auto 0;
  padding: 0 10px 100% 0px;
  width: 50%;
  background-color: white;
}

body{
	/*background-color: red;**/
}
#img{
	text-align: center;
	background-color: white;
}